{
    "printWidth": 300,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "proseWrap": "preserve",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "eslintIntegration": true,
    "htmlWhitespaceSensitivity": "ignore",
    "ignorePath": ".prettierignore",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "requireConfig": false,
    "stylelintIntegration": true,
    "trailingComma": "es5",
    "tslintIntegration": true
}
